body {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	line-height: 26px;
	font-weight: 400;
	color: #777;
	background-color: #fff;
}

h1 {
	font-family: "Arial", sans-serif;
	font-size: 50px;
	line-height: 1.2em;
	font-weight: 400;
}

h2 {
	font-family: "Arial", sans-serif;
	font-size: 40px;
	line-height: 1.2em;
	font-weight: 400;
}

h3 {
	font-family: "Arial", sans-serif;
	font-size: 30px;
	line-height: 1.3em;
	font-weight: 400;
}

h4 {
	font-family: "Arial", sans-serif;
	font-size: 20px;
	line-height: 1.4em;
	font-weight: 400;
}

h5 {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.4em;
	font-weight: 400;
}

h6 {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 20px 0;
	color: #000;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	color: #333;
}

a,
p a {
	color: #000;
	text-decoration: none;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

a:hover,
p a:hover {
	color: #333;
}

p {
	margin: 10px 0;
}